body, html, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.App {
    height: 100%;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    color: white;
}

.BoxWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 600px;
}

.MainBox {
    height: 400px;
    width: 600px;
    background: #666;
}

li.tracklistitem {
    margin-top: 15px;
    list-style-type: none;
    cursor: pointer;
    background: #484848;
    color: white;
    padding: 8px;
    height: 20px;
}

span.itemtrackname {
    display: inline-flex;
    float: left;
}

span.itemtrackartist {
    float: right;
}

audio {
    margin: auto;
    display: none;
}

ul.list-group {
    margin: 80px 30px;
    padding: 0;
}

.quizanswer {
    padding: 100px;
    margin: auto;
    width: 150px;
    text-align: center;
}

.countdownbar {
    height: 5px;
    background-color: red;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 8px;
    transition: background-color .3s;
}

button:hover,button:focus {
    background-color: #cc0000;
    cursor: pointer;
    outline: 0;
}